@import '../../styles/settings';

.todo-list {
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
  padding-left: 8px;
  margin: 0;
  cursor: default;
  list-style-type: none;
  overflow: auto;
  text-align: left;
  box-sizing: border-box;

  &__circle {
    border: 1px solid $primary-color;
    background-color: $primary-color;
    border-radius: 50%;
    display: inline-block;
    width: 4px;
    height: 4px;
    margin-right: 8px;
  }

  label {
    font-size: 1.2rem;
  }

  input[type='checkbox']:checked + span {
    text-decoration-line: line-through;
    text-decoration-color: $primary-color;
  }

  li {
    // border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    > button {
      border-radius: 50%;
      color: $red-crimson;
      border: none;
      background-color: transparent;
      cursor: pointer;
      border: 1px solid $red-crimson;
      width: 28px;
      height: 28px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      transition: all 200ms;

      &:hover {
        color: white;
        background-color: $red-crimson;
      }

      span {
        transform: scale(0.6);
      }
    }
  }
}
